Question #{{ question.id }} <br/>

{{ question.text }} </br>

{% if not question.answer_choices|length %}
<a href="{% url 'quiz:choice' question.id %}">Add Answer Choices</a>
{% endif %}

<form method="post" action="{% url 'quiz:result' question.id %}">
{% csrf_token %}

{% for choice in question.answer_choices %}

<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" required/>
<label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br />

{% endfor %}

{% if question.answer_choices|length %} <input type="submit" value="Check" /> {% endif %}

</form>
