List of questions

<ol>
{% for question in questions %}

<li>
<a href="{% url 'quiz:detail' question.id %}">{{ question.text }}</a>
<a href="{% url 'quiz:delete' question.id %}">x</a>
</li>

{% endfor %}
</ol>

Post A Question

<form method="post" action ="{% url 'quiz:index' %}">
{% csrf_token %}

Question: <input type="text" name="text" required=True/>

<input type= "submit" value="Add"/>

</form>
