<html><body>
<h1>Questions</h1>
<ul>
    {% for question in questions %}
    <li><a href="{% url 'quiz2:detail' pk=question.id%}">{{ question.text }}</a></li>
    {% endfor %}
</ul>

<form action="{% url 'quiz2:index' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create Question">
</form>
</body></html>
