{% load rest_framework %}

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<h1>Question - {{ question.text }}</h1>

<form action="{% url 'quiz2:detail' pk=question.id%}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update">
</form>

<form action="{% url 'quiz2:delete' pk=question.id%}" method="POST">
{% csrf_token %}
<input type="submit" value="Delete">
</form>

<a href="{% url 'quiz2:index' %}">Home</a>

</body></html>
